body {
  text-align: center;
}

.card img {
  margin-top: 10px;
  margin-bottom: 10px;
}

#dropArea {
  width: 900px;
  height: 300px;
  border: 2px solid purple;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
#booster {
  width: 250px;
  height: 250px;
  color: black;
  background-color: orange;
  margin: 0 auto;
  margin-bottom: 10px;
}
